[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
ipython = "*"
jupyter = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
scipy = "*"
sklearn = "*"
seaborn = "*"
statsmodels = "*"

[requires]
python_version = "3.5"
